<div class="container mt-3 pt-5">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger">About app</p>
            <p>Hi, i'm chetan dehane, i've built this country detail app using Angular. it can show basic details about countries e.g. name, full name, country code, flag, population etc. it uses country detail rest api to fetch details about countries information.</p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">
                    App Name : <span class="fw-bold">Country Details</span>
                </li>
                <li class="list-group-item">
                    Version : <span class="fw-bold">1.0.0</span>
                </li>
                <li class="list-group-item">
                    Author : <span class="fw-bold">Chetan Dehane</span>
                </li>
            </ul>
        </div>
    </div>
</div>