<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger text-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Country Details</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/" class="nav-link">Home</a>
                <a routerLink="/countries" class="nav-link">Countries</a>
                <a routerLink="/map" class="nav-link">Map</a>
                <a routerLink="/about" class="nav-link">About</a>
            </div>
        </div>
    </div>
</nav>