<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
            <h5 class="display-2">Country Details</h5>
            <p>A country is a distinct part of the world, such as a state, nation, or other political entity. It may be a sovereign state or make up one part of a larger state. For example, the country of Japan is an independent, sovereign state, while the country of Wales is a component of a multi-part sovereign state, the United Kingdom. A country may be a historically sovereign area (such as Korea), a currently sovereign territory with a unified government (such as Senegal), or a non-sovereign geographic region associated with certain distinct political, ethnic, or cultural characteristics (such as the Basque Country).

                The definition and usage of the word "country" is flexible and has changed over time. The Economist wrote in 2010 that "any attempt to find a clear definition of a country soon runs into a thicket of exceptions and anomalies." Most sovereign states, but not all countries, are members of the United Nations.
                
                The largest country by area is Russia, while the smallest is the microstate Vatican City. The most populous is China, while the Pitcairn Islands are the least populous.</p>
                <p>
                    The word country comes from Old French contrée, which derives from Vulgar Latin (terra) contrata ("(land) lying opposite"; "(land) spread before"), derived from contra ("against, opposite"). It most likely entered the English language after the Franco-Norman invasion during the 11th century
                </p>
        </div>
    </div>
</div>
