<div class="container mt-3 pt-5">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger">Countries List</p>
            <p>Welcome, Here you can find details about any country you want. by clicking on country name you will get extra details.</p>  
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped text-center">
                <thead class="bg-dark text-warning">
                    <tr>
                        <th>Name</th>
                        <th>Full Name</th>
                        <th>Flag</th>
                        <th>Code</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries">
                        <td>
                            <a routerLink="/countries/{{country.flag}}" class="text-danger">{{country.name.common}}</a>
                        </td>
                        <td>{{country.name.official}}</td>
                        <td>
                            <img [src]="country.flags.png" alt="" class="img-fluid" width="50" height="50">
                        </td>
                        <td>{{country.flag}}</td>
                        <td>{{country.population | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
