/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.btn {
    margin: 5px;
}

.landing-page{
    background: white url("assets/img/background.jpg") no-repeat scroll center;
    background-size: cover;
    height: 100vh;
    color: antiquewhite;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}


